body{
	background: url('../img/background.png');
	background-position: -50% -50%;
}

.letter-container h2 a{
    text-align: center;
    text-transform: uppercase;
    font-size: 150px;
    position: absolute;
    width: 800px;
    height: 180px;
    top: 0px;
    left: 50%;
    margin-left: -400px;
    transition: all 0.3s linear;
}
.letter-container h2 a:nth-child(2){
    opacity: 0;
}

.letter-container h2 a span{
    display: inline-block;
    position: relative;
    width: 120px;
    margin: 0px;
    transition: all 0.3s linear;
    text-shadow: 
        2px 2px 2px rgba(0,0,0,0.6), 
        1px 1px 2px rgba(0,0,0,0.4), 
        0px 0px 2px rgba(255,255,255,0.9);
}
.letter-container h2 a span:nth-child(odd){
    transform: skewY(10deg);
    background: #333;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    z-index: 10;
}
.letter-container h2 a span:nth-child(even){
    transform: skewY(-10deg);
    background: #666;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.3);
    z-index: 10;
}

.letter-container h2:hover a:nth-child(1){
    opacity: 0;
}
.letter-container h2:hover a:nth-child(2){
    opacity: 1;
}

.letter-container h2:hover a span{
    transform: skewY(0deg);
    background: #680121;
}
.letter-container h2 a span:hover{
    color: #f6b0c5;
}