@font-face
{
	font-family: "Raconteur Regular";
	src: url(RaconteurNF.woff);
}

@font-face
{
	font-family: "Shruti";
	src: url(shruti.ttf);
}

/******************************************* Bootstrap Navigation ***********************************************************************************/

.navbar{
	background: none;
	border: none;
}

#navBar li a{
	color: white;
	font-size: 1.3em;
	font-family: "Arial";
}

#navBar li a:hover{
	color: #b8bfc3;
}

/*********************************************** General CSS ****************************************************************************/

body{
	background: url('../img/background.png');
	background-position: -50% -50%;
	color: white;
}

.logo{
	width: 100%;
	margin-top: 14px;
	margin-left: 10px;
	color: white;
	font-size: 1.7em;
	font-family: "Raconteur Regular", Georgia, Serif;
	text-transform: capitalize;
}

.intro{
	margin-left: 50px;
	margin-top: 200px;
	width: 565px;
}

.intro h1{
	width: 100%;
	margin: auto;
	font-size: 3.5em;
	font-family: "Raconteur Regular", Georgia, Serif;
	text-transform: capitalize;
}

.intro p{
	margin-top: 5px;
	font-size: 1.3em;
	font-family: "Arial";
}