/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
========================================
Fonts
========================================
*/

@font-face
{
	font-family: "Aver";
	src: url('../fonts/Aver.ttf');
}

@font-face
{
	font-family: "Futura BK BT Book";
	src: url('../fonts/tt0140m_.ttf');
}

@font-face
{
	font-family: "Humanst521 Lt BT";
	src: url('../fonts/tt0288m_.ttf');
}

@font-face
{
	font-family: "Humanst521 BT";
	src: url('../fonts/tt0290m_.ttf');
}

@font-face
{
	font-family: "Geometr415 Blk BT Black";
	src: url('../fonts/tt0524m_.ttf');
}

/*
=========================================
Common CSS
=========================================
*/

body{
	background: url('../img/bg.png');
	padding-top: 80px;
}


/*
========================================
Homepage
========================================
*/

.homepage{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

.heading{
	margin: auto;
	position: absolute;
	top: -100px; left: 0; right: 0; bottom: 0;
	width: 450px;
	height: 100px;
}

.name, .job{
	color: #444444;
	text-align: center;
	text-transform: uppercase;
	font-family: "Futura BK BT Book";
	font-size: 3em;
}

.job{
	padding-top: 10px;
	text-transform: none;
	font-family: "Humanst521 BT";
	font-size: 1.8em;
}

.socialLinks{
	position: fixed;
	top: 20px; right: 20px;
	width: 240px;
	height: 40px;
}

.socialLinks a{
	width: 40px;
	height: 40px;
	margin-left: 15px;
}

.socialLinks a img{
	width: 40px;
	border-radius: 100%;
}

.gmail{
	top: 20px;
	left: 20px;
}

.twitter{
	top: 20px;
	right: 20px;
}

.facebook{
	right: 20px;
	bottom: 20px;
}

.linkedin{
	bottom: 20px;
	left: 20px;
}

/*
======================================
Technology Used
======================================
*/

.technology{
	margin-top: 100px;
	padding: 50px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px;
	background: #313431;
}

.technology_heading{
	padding-bottom: 50px;
	color: #CCCCCC;
	text-align: center;
	text-transform: uppercase;
	font-family: "Futura BK BT Book";
	font-size: 3em;
}

.technology_used{
	margin: auto;
	width: 690px;
}

.technology_item{
	display: inline-block;
	width: 140px;
	margin-right: 130px;
	margin-bottom: 70px;
}

.technology img{
	width: 140px;
}

.technology p{
	padding-top: 5px;
	text-align: center;
	color: #F6F6F6;
	font-family: "Humanst521 Lt BT";
	font-size: 1.4em;
	text-transform: uppercase;
}

.technology_item:nth-child(3n)
{
	margin-right: 0px;
}