/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS ends */

@font-face{
	font-family: "Nexa";
	src: url('../fonts/Nexa_Light.woff');
}


@font-face{
	font-family: "PTSans";
	src: url('../fonts/PTS55F.woff');
}

body{
	background-color: #ebebeb;
	padding-top: 50px;
}

/****************** Header Section *******************/

.header{
	margin: auto;
	max-width: 1050px;
	background: transparent;
	border:0;
}

.search{
	min-width: 300px;
	border: none;
	padding: 20px;
	padding-top: 25px;
	padding-right: 40px;
	background: #FFFFFF url('../img/clock.png') no-repeat;
	background-position: 95% 50%;
	font-family: "Nexa";
	font-weight: bold;
	font-size: 0.85em;
}

.dropdown{
	background:transparent url('../img/dropdown.png') no-repeat;
	background-position: 95% 50%;
	border: 0 !important;.  /*Removes border*/
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none;
	color: #6919ab;
	text-indent: 0.01px;
 	text-overflow: "";
 	font-family: "Nexa";
	font-weight: bold;
}

.dropdown:hover{
	cursor: pointer;
}

.quick_links{
	margin: auto;
	width: 95px;
	padding-top: 17px;
	padding-bottom: 10px;
	color: #c7c7c7;
	font-family: "Nexa";
	font-weight: bold;
	font-size: 0.85em;
}

.quick_links:hover{
	cursor: pointer;
	color: #6919ab;
}

.header_navigation{
	padding-top: 20px;
}

.stick{
	position: fixed;
	top: -30px;
	z-index: 1;
}

.nav li{
	text-align: center;
}

.custom_nav{
	margin-top: 30px;
}

.custom_nav li{
	float: left;
	width: 164px;
	height: 110px;
	border-bottom: 5px solid #6919ab;
	margin-right: 1px;
	background: -webkit-linear-gradient(#FFFFFF, #c7c7c7); /* For Safari */
	background: -o-linear-gradient(#FFFFFF, #c7c7c7); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#FFFFFF, #c7c7c7); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#FFFFFF, #c7c7c7); /* Standard syntax */
}

.custom_nav :last-child{
	border-right: none;
}

.custom_nav :nth-child(even){
	border-bottom: 5px solid #a34ff0;
}

.custom_nav li:hover{
	position: relative;
	margin-top: -10px;
	height: 120px;
	border-bottom: 15px solid #6919ab;
	background: #FFFFFF;
	cursor: pointer;
}

.custom_nav :nth-child(even):hover{
	border-bottom: 15px solid #a34ff0;
}

.custom_nav li a{
	display: block;
	padding-top: 60px;
	text-decoration: none;
	color: #707070;
	font-family: "PTSans";
	font-weight: bold;
	background-position: 50% 35%;
}

.custom_nav li a:hover{
	text-decoration: none;
	color: #a34ff0; 
}

.travel_guide, .how_to{
	background-image: url('../img/nav_globe.png');
	background-repeat: no-repeat;
}

.services{
	background-image: url('../img/nav_airplane.png');
	background-repeat: no-repeat;
}

.about, .contact{
	background-image: url('../img/nav_page.png');
	background-repeat: no-repeat;
}

.the_tour{
	background-image: url('../img/nav_map.png');
	background-repeat: no-repeat;
}

.travel_guide:hover, .how_to:hover{
	background-image: url('../img/nav_globe_selected.png');
}

.services:hover{
	background-image: url('../img/nav_airplane_selected.png');
}

.about:hover, .contact:hover{
	background-image: url('../img/nav_page_selected.png');
}

.the_tour:hover{
	background-image: url('../img/nav_map_selected.png');
}

/*********************************** Header Section ends ********************************************/

/*************************************** Slide Styling **********************************************/
.slide1{
	margin-top: -10px;
	width: 100%;
	background:#2d2d2d url('../img/bridge.png') no-repeat fixed;
	background-size: cover;
	height: 430px;
}

.slide2{
	width: 100%;
	padding-bottom: 50px;
	background-color: #2d2d2d;
}

.slide3{
	width: 100%
	height: 500px;
	background-color: #222222;
}

.slide4{
	width: 100%;
	background-color: #ebebeb;
	padding-top: 100px;
	margin-bottom: 50px;
	font-family: "Nexa";
}

/***************************************** General Styling *******************************************************/

.content{ 
	margin:auto; 
	width: 76%;
	min-width: 320px;
	color: white; 
}

.slide1 .content{
	position: relative;
	width: 100%;
}

.location_search_icon{
	display: block;
	margin: auto;
	padding-top: 120px;
}

.location_search_icon:hover{
	cursor: pointer;
}

.slide2_heading{
	text-align: center;
	font-size: 2.5em;
	font-family: "Nexa";
	padding-top: 50px;
}

.slide2_subheading{
	text-align: center;
	color: #a161db;
	font-family: "Nexa";
	font-size: 1em;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
}

.features{
	min-height: 310px;
	padding-top: 100px;
}

.feature{
	width: 300px;
	max-height: 310px;
	float: left;
	margin-right: 30px;
}

.feature h3{
	font-family: "Nexa";
	font-size: 1.5em;
	padding-bottom: 10px;
}

.feature p{
	font-family: "Arial";
	font-size: 0.75em;
	margin-bottom: 5px;
	line-height: 2;
}

.ipad{
	display: block;
	margin: auto;
	padding-top: 50px;
}

.contact_heading{
	position: relative;
	color: #717171;
	font-size: 2.5em;
	text-align: center;
}

.contact_heading:before, .contact_heading:after{
	content: "\00a0";
	position: absolute;
	top: 20px;
	width: 200px;
	height: 2.5px;
	border-bottom: 1px solid #FFFFFF;
	background: #dedede;
}

.contact_heading:before{
	left: 0px;
}

.contact_heading:after{
	right: 0px;
}

.contact_subheading{
	text-align: center;
	color: #717171;
	font-weight: bold;
	font-size: 1em;
	margin-top: 10px;
	margin-bottom: 20px;
}

.item{
	position: relative;
	width: 232px;
}

.profile_pic{
	width: 232px;
	background: url('../img/photo_frame.png') no-repeat;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
	padding: 10px;
}

.name, .designation{
	margin-left: 10px;
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
	color: #7b7b7b;
	font-family: "PTSans";
}

.designation{
	margin-top: 5px;
	font-size: 1em;
	font-weight: normal;
}

.winning_design_awards, .badass_features{
	position: relative;
	float: left;
	width: 49%;
	margin-top:18px;
	background: white;
	padding: 55px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

.badass_features{
	float: right;
}

.winning_badass_general_feature_heading{
	color: #252525;
	font-size: 2em;
	font-weight: bold;
}

.caption{
	margin-top: 20px;
	color: #6017a3;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 1.9;
}

.description{
	margin-top: 20px;
	color: #949494;
	font-weight: normal;
	font-size: 0.8em;
	line-height: 1.8;	
}

.add_more, .profile_twitter{
	text-decoration: none;
	position: absolute;
	width: 30px;
	height: 30px;
	padding: 5px;
	text-align: center;
	vertical-align: middle;
	color: #FFFFFF;
	font-family: sans-serif;
	font-size: 1.5em;
}

.add_more{
	top: 0;
	left: 0;
	background-color: #8f33c4;
}

.profile_twitter{
	bottom: 64px;
	right: 10px;
	background: #8f33c4 url('../img/twitter.png') no-repeat center;
}

.add_more:hover, .profile_twitter:hover{
	color: #FFFFFF;
	text-decoration: none;
}

.general_features{
	clear: both;
	position: relative;
	top: 18px;
	width: 100%;
	background: white;
	padding: 55px;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

/*************************************** Footer ********************************/
footer{
	width: 100%;
	height: 550px;
	background-color: #373737;
	border-top: 5px solid #914dcf;
}

footer .content{
	margin-top: 30px;
}

footer .content img{
	float: left;
}

.footer_navigation{
	float: right;
}

footer a{
	text-decoration: none;
	margin: 15px;
	padding-bottom: 15px;
	color: #FFFFFF;
	font-family: "Nexa";
	font-size: 0.9em;
	font-weight: bold;
}

.footer_navigation a:hover{
	border-bottom: 5px solid #914dcf;
}

.footer_text{
	clear: left;
	color: #FFFFFF;
	width: 500px;
	font-size: 0.9em;
	padding-top: 20px;
}

.social_links{
	float: right;
	width: 415px;
	padding-top: 60px;
}

.social_links a{
	padding-left: 18px;
	padding-bottom: 0;
}

.social_links a:hover{
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
}

.twitter{
	background: url('../img/twitter.png') no-repeat 0% 25%;
}

.facebook{
	background: url('../img/facebook.png') no-repeat 0% 20%;
}

.rss{
	background: url('../img/rss.png') no-repeat 0% 40%;
}

.mail{
	background: url('../img/mail.png') no-repeat 0% 40%;
}

/******************************************** Media Queries ***************************************/
@media only screen and (max-width : 990px) {
	.custom_nav li{
		width: 141px;
		height: 110px;
	}

	.slide1{
		margin-top:10px;
	}

	.features{
		padding-top: 50px;
	}

	.winning_design_awards, .badass_features{
		float: none;
		margin: auto;
		margin-top: 18px;
		width: 100%;
		min-width: 320px;
	}	

	.footer_text{
		clear: both;
		width: 100%;
	}

	.social_links a{
		padding-right: 15px;
	}
}

@media only screen and (max-width : 928px) {
	.feature{
		width: 100%;
		margin-top: 10px;
	}

	.contact_heading:before, .contact_heading:after{
		border-bottom:0;
		background: transparent;
	}

	.footer_navigation{
		padding-top: 20px;
		float: left;
	}

	.social_links{
		float: left;
		padding-top: 20px;
	}

	.social_links a{
		padding-right: 12px;
	}
}