/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset CSS ends */

/*
==========================================
Fonts Used
==========================================
*/

@font-face{
	font-family: "Trebuchet MS-Regular";
	src: url('../fonts/trebuc.ttf');
}

/*
===========================================
General CSS
===========================================
*/

*{
	font-family: "Trebuchet MS-Regular";
}

/*
===========================================
Landing Page CSS
============================================
*/

#landingPage{
	
}

.landingPage_container{
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
	height: 100%;

	background: url('../img/bg.png') no-repeat;
	background-size: cover;
}

.slideshow_container{
	margin: auto;
	width: 550px;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}

.landingPageHeading{
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 450px;
}

.landingPageHeadingCaption{
	margin: auto;
	width: 250px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.25em;
}

.landingPageHeadingCaption a{
	text-decoration: none;
	color: #000000;
}

.landingPageHeadingCaption a:hover{
	color: #444444;
}

/*
========================================
Header CSS
========================================
*/

.header{
	position: relative;
}

.logo_container{
	position: relative;
	margin: auto;
	width: 990px;
}

.oritecture_heading{
	display: block;
	margin: auto;
	width: 700px;
}

nav{
	position: relative;
	margin: auto;
	margin-top: 40px;
	width: 645px;
	height: 20px;
}

nav::before, nav::after{
	margin: auto;
	position: absolute;
	top: -5px; left: 0px; right: 0px;
	content: "";
	width: 584px;
	height: 2px;
	background: url('../img/nav_border.png');
}

nav::after{
	top: auto;
	bottom: 0px;
}

nav ul li{
	float: left;
	margin-right: 25px;
	text-transform: uppercase;
	font-family: "Trebuchet MS-Regular";
	font-size: 0.9em;
}

nav ul li:last-child{
	margin-right: 0px;
}

nav ul li a{
	text-decoration: none;
	color: #b7b6b6;
}

nav ul li a:hover{
	color: #CCCCCC;
}

.flickr, .facebook{
	position: absolute;
	top: 5px;
	right: 0px;
	width: 35px;
}

.facebook{
	right: 40px;
}

/*
=========================================
HomePage CSS
=========================================
*/

#homepage{
	background: url('../img/homepage-bg.jpg') no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.homepageCaption{
	margin: auto;
	margin-top: 30px;
	width: 900px;
	text-align: center;
	color: #b7b6b6;
	font-size: 1em;
}

.gallery{
	margin: auto;
	margin-top: 50px;
	width: 990px;
}

.galleryItem{
	display: inline-block;
	width: 150px;
	margin-right: 50px;
	margin-bottom: 35px;
}

.galleryItem:nth-child(5n){
	margin-right: 0px;
}

.galleryItemImage{
	width: 100%;
	height: 170px;
	padding: 1px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.galleryItemImage img{
	width: 100%;
	height: 100%;
}

.galleryItemText{
	margin-top: 2px;
	position: relative;
	width: 100%;
	height: 50px;
	background: #a8aaab;
}

.galleryItemText p{
	margin: auto;
	position: absolute;
	top: 0px; left: 0px; right: 0px; bottom: 0px;
	width: 140px;
	height: 25px;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	color: #FFFFFF;
}

/*
=========================================
ProfilePage CSS
=========================================
*/

.profile_container{
	margin: auto;
	margin-top: 40px;
	width: 990px;
}

.profile_gallery, .profile_content{
	float: left;
	width: 50%;
	padding: 20px;
	padding-top: 0px;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.profile_heading{
	color: #b7b6b6;
	font-family: "Century Gothic";
	font-size: 1.7em;
	line-height: 130%;
}

.division{
	color: #b7b6b6;
	background-color: #b7b6b6;
	border-color: #b7b6b6;
}

.profile_content p{
	margin-top: 15px;
	color: #b7b6b6;
	line-height: 130%;
	letter-spacing: 0.7px;
	font-family: "Century Gothic";
	font-size: 0.9em;
}

.bxslider{
	width: 100%;
}

.bxslider img{
	width: 100%;
	height: 350px;
}

#bx-pager{
	margin-top: -30px;
	width: 100%;
}

#bx-pager a{
	width: 100px;
	height: 100px;
}

#bx-pager a img{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}

.socialShare{
	margin-top: 10px;
}

/*
==========================================
Responsive CSS
==========================================
*/

/* Max screen size 990px */
@media screen and (max-width : 990px) {

	.logo_container{
		width: 100%;
	}

	.oritecture_heading{
		width: 550px;
	}

	.homepageCaption{
		width: 90%;
	}

	.gallery{
		width: 735px;
	}

	.galleryItem{
		margin-right: 40px;
	}

	.galleryItem:nth-child(5n){
		margin-right: 40px;
	}

	.galleryItem:nth-child(4n){
		margin-right: 0px;
	}

	.profile_container{
		width: 495px;
	}

	.profile_gallery, .profile_content{
		float: none;
		width: 495px;
	}
}


/* Max screen size 768px */
@media screen and (max-width : 768px) {

	.slideshow_container{
		width: 450px;
	}

	.oritecture_heading{
		width: 500px;
	}

	.flickr, .facebook{
		width: 30px;
	}

	.facebook{
		right: 35px;
	}

	nav{
		margin-top: 25px;
	}

	.gallery{
		width: 540px;
	}

	.galleryItem{
		margin-right: 40px;
	}

	.galleryItem:nth-child(4n){
		margin-right: 40px;
	}

	.galleryItem:nth-child(3n){
		margin-right: 0px;
	}

}


/* Max screen size 650px */
@media screen and (max-width : 650px) {

	.header{
		padding-bottom: 20px;
	}

	.oritecture_heading{
		margin: 0px;
		margin-left: 10px;
		width: 400px;
	}

	nav{
		width: 350px;
	}

	nav::before, nav::after{
		width: 300px;
		background-size: 100%;
	}

	nav::after{
		bottom: -25px;
	}

	nav ul li{
		margin-bottom: 10px;
	}

	nav ul li:first-child{
		margin-left: 30px;
	}

	nav ul li:nth-child(4n){
		margin-right: 0px;
	}
}


/* Max screen size 550px */
@media screen and (max-width : 550px) {

	.slideshow_container{
		width: 400px;
	}

	.landingPageHeading{
		width: 400px;
	}

	.gallery{
		width: 345px;
	}

	.galleryItem{
		margin-right: 40px;
	}

	.galleryItem:nth-child(3n){
		margin-right: 40px;
	}

	.galleryItem:nth-child(2n){
		margin-right: 0px;
	}

	.profile_container{
		width: 400px;
	}

	.profile_gallery, .profile_content{
		float: none;
		width: 400px;
	}

	.bxslider img{
		height: 300px;
	}
}

/* Max screen size 470px */
@media screen and (max-width : 475px) {

	.oritecture_heading{
		margin: 0px;
		margin-left: 5px;
		width: 280px;
	}

	.flickr, .facebook{
		width: 20px;
	}

	.facebook{
		right: 25px;
	}
}

/* Max screen size 550px */
@media screen and (max-width : 400px) {

	.slideshow_container{
		width: 300px;
	}

	.landingPageHeading{
		width: 300px;
	}

	.landingPageHeadingCaption{
		font-size: 1em;
	}
}

/* Max screen size 380px */
@media screen and (max-width : 380px) {

	.gallery{
		width: 150px;
	}

	.galleryItem{
		margin-right: 0px;
	}

	.profile_container{
		width: 300px;
	}

	.profile_gallery, .profile_content{
		float: none;
		width: 300px;
	}

	.bxslider img{
		height: 275px;
	}

}